.element {
    background-color: white;
    max-width: 282px;
    max-height: 362px;
    border-radius: 10px;
    list-style: none;
    overflow: hidden;
    position: relative;
}


@media screen and (max-width: 767px) {
    .element {
        margin: 0 auto;
    }
}

